# global
__pycache__
.idea/
*~
*.swp
/tmp

# local

**/residus*
# exclusion des fichiers et répertoires dont le nom se termine par "prive" ou "private"
# n'importe où dans l'arborescence.
**/*prive
**/*private

genmo.sh
genpo.sh
*.desktop
*backup
tmp*
# Only final translation dictionaries
*.mo
!src/locale/*/LC_MESSAGES/*.mo
